@font-face {
  font-family: 'CustomMono';
  src: url('/src/assets/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body, #root {
    height: 100%;
    overflow: hidden;
  }
  
  body {
    font-family: 'CustomMono', monospace;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
